<!DOCTYPE html>
<ion-view view-title="{{count}}
 Jams" class="gjam">

  <ion-nav-buttons side="left">
    <a nav-direction="back" href="#/">
      <button class="button button-clear icon-left ion-chevron-left">
        Back
      </button>
    </a>
  </ion-nav-buttons>

  <ion-content
    overflow-scroll="true"
    on-swipe-right="toHome()">

      <div class="card">
        <ion-item ng-repeat="e in events track by $index" ng-click="showDetail($index)" class="item-icon-right item-assertive">
          {{::e.name}}
          <i class="icon ion-ios-paw"></i>
        </ion-item>
      </div>

  </ion-content>
</ion-view>
