.home {

  // .user-icon {
  //   display: block;
  //   width: 27vw;
  //   max-width: 180px;
  //   margin-top: 20px;
  //   margin-bottom: 2.2em;
  //   margin-left: auto;
  //   margin-right: auto;
  // }

  ion-content {
    background: -webkit-linear-gradient(90deg, #616161 10%, #9bc5c3 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #616161 10%, #9bc5c3 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #616161 10%, #9bc5c3 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #616161 10%, #9bc5c3 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #616161 10%, #9bc5c3 90%);
    /* W3C */
  }
}
