<!DOCTYPE html>
<ion-view view-title="{{count}}
 Hacks" class="hack">

  <ion-nav-buttons side="right">
    <a nav-direction="forward" href="#/">
      <button class="button button-clear icon-right ion-chevron-right">
        Back
      </button>
    </a>
  </ion-nav-buttons>

  <ion-content
    overflow-scroll="true"
    on-swipe-left="toHome()">

    <div class="card">
    <!-- <ion-list class="card"> -->
      <ion-item ng-repeat="e in events track by $index" ng-click="showDetail($index)" class="item-assertive item-icon-right">
        <!-- {{::e.name}} -->
        {{::e.proj}}
        <i class="icon ion-ios-paw"></i>
        <!-- <ion-reorder-button class="icon ion-ios-paw" on-reorder="reorderEvents(e, $fromIndex, $toIndex)">
        </ion-reorder-button> -->
      </ion-item>

    <!-- </ion-list> -->
    </div>

  </ion-content>
</ion-view>
