.home {

  // .user-icon {
  //   display: block;
  //   width: 27vw;
  //   max-width: 180px;
  //   margin-top: 20px;
  //   margin-bottom: 2.2em;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
  ion-content {
    background: $assertive;
  }

  .icon {
    font-size: 44px;
  }

  .item {
    border-color: white;
  }

  .button {
    border: none;
    border-radius: 0 !important;
  }

  .separator {
    width: 44px;
    height: 100%;

    img {
      padding: 2.7px;
      height: 44px;
    }
  }

  .button-bar {
    background: $dark;
    height: 44px;
  }

  .text-pulling,
  .icon-pulling {
    color: white;
  }

  .item-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: white;
  }

  .item-group-content {
    margin: auto;
  }

}
