<ion-modal-view>
  <ion-header-bar align-title="left" class="bar-dark" on-swipe-down="closeDetail()">
    <div class="buttons">
      <button class="button button-clear" ng-click="closeDetail()">
        <i class="icon ion-ios-arrow-left">Back</i>
      </button>
    </div>
    <h1 class="title">
      {{chosen.name}}
    </h1>

  </ion-header-bar>

  <ion-content on-swipe-right="previousEvent()" on-swipe-left="nextEvent()">


    <ion-list>
      <ion-item class="item-dark item-divider tcenter">
        <strong>
          {{chosen.name}}
        </strong>
      </ion-item>

      <ion-item class="row">
        <ion-item class="item-dark tstrong col col-33">
          CODENAME
        </ion-item>
        <ion-item class="item-assertive tcenter col col-10 ion-chevron-right">
        </ion-item>
        <ion-item class="col">
          {{chosen.proj}}
        </ion-item>
      </ion-item>

      <ion-item class="col tstrong item-dark item-divider">
        DESCRIPTION
      </ion-item>
      <ion-item class="item-text-wrap">
        {{chosen.desc}}
      </ion-item>

      <div class="row">
        <ion-item class="item-dark tstrong col col-33">
          DATE
        </ion-item>
        <ion-item class="item-assertive tcenter col col-10 ion-calendar">
        </ion-item>
        <ion-item class="item-text-wrap col">
          {{chosen.date}}
        </ion-item>
      </div>

      <ion-item class="col tstrong item-dark item-divider">
        ROLE
      </ion-item>

      <div class="item-group">
        <ion-item class="item-group-content tcenter" ng-repeat="r in chosen.role">
          {{r}}
        </ion-item>
      </div>

      <ion-item class="col tstrong item-dark item-divider">
        WORK
      </ion-item>
      <ion-item class="item-text-wrap">
        {{chosen.work}}
      </ion-item>

      <div class="row">
        <ion-item class="item-dark tstrong col col-33">
          TEAM
        </ion-item>
        <ion-item class="item-assertive tcenter col col-10 ion-ios-paw">
        </ion-item>
        <ion-item class="item-text-wrap col">
          {{chosen.team}}
        </ion-item>
      </div>

      <ion-item class="col tstrong item-dark item-divider">
        MATES
      </ion-item>
      <div class="item-group">
        <ion-item class="item-group-content tcenter" ng-repeat="mem in chosen.memb">
          {{mem}}
        </ion-item>
      </div>

      <a ng-if="chosen.link" ng-href="{{chosen.link}}" target="_blank">
        <ion-item class="item-assertive tcenter">
          <i class="icon ion-chevron-left"></i>
          <i class="icon ion-link">/</i>
          <i class="icon ion-social-github"></i>
          <i class="icon ion-chevron-right"></i>
        </ion-item>
      </a>
    </ion-list>
  </ion-content>
</ion-modal-view>
