---
---
{% include JB/setup %}

<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>
    {% if page.title %} {{ page.title }} - {% endif %} {{ site.title }}
  </title>


  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> {% if page.title != "Archive (sidebar)" %}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Poly:400,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic' rel='stylesheet' type='text/css'>

  <link rel="icon" type="image/ico" href="{{ ASSET_PATH }}/img/AngeIBlack.png" />

  <link href="{{ ASSET_PATH }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ ASSET_PATH }}/lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/lib/css-social-buttons/css/zocial.stripped.css">

  <link href="{{ ASSET_PATH }}/lib/css/pygments.css" rel="stylesheet" type="text/css" media="all">
  <link href="{{ ASSET_PATH }}/lib/css/darkstrap.css" rel="stylesheet" type="text/css" media="all">


  <link rel="stylesheet" media="screen, projection" href="/www/css/screen.css" type="text/css">
  <link href="{{ ASSET_PATH }}/css/page-style.css?body=1" rel="stylesheet" type="text/css" media="all">

  <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/lib/css/font-awesome.min.css" />

  <!--
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  -->

  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}

  <meta name="author" content="{{ site.author.name }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endif %} {% if page.og_image_url %}
  <meta property="og:image" content="{{ page.og_image_url }}"> {% else %} {% if page.photo_url %}
  <meta property="og:image" content="{{ page.photo_url }}"> {% endif %} {% endif %}

  <meta property="og:type" content="article">
  <meta property="og:locale" content="en_GB" /> {% if page.date %}
  <meta property="article:published_time" content="{{ page.date | date: " %Y-%m-%d " }}"> {% endif %} {% if page.title != "Archive (sidebar)" %} {% include sidebar_ui_controller.html %} {% endif %}


</head>
<body class="wide">
  <iframe id="sidebar"></iframe>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="{{ ASSET_PATH }}/pages/blog-entry.html">{{ site.title }}</a>

          <div class="nav-collapse">
            <ul class="nav" style="background-color: rgb(51, 51, 51);">
              {% assign pages_list = site.pages %}
              {% assign group = 'navigation' %}
              {% include JB/pages_list %}
            </ul>
            <ul class="nav pull-right social visible-desktop">
              <li class="divider-vertical"></li>
              <li>
                <a href="{{HOME_PATH}}" class="fa icon" target="_blank">
                  <img src="{{ ASSET_PATH }}/img/AngeI000.png" width="18" height="18" />
                  <span class="hidden-desktop">LinkedIn</span>
                </a>
              </li>
              {% if site.author.github %}
              <li>
                <a href="https://github.com/{{ site.author.github }}" class="fa fa-github icon" target="_blank">
                  <span class="hidden-desktop">Github</span>
                </a>
              </li>
              {% endif %}
              {% if site.author.googleplus %}
              <li>
                <a href="https://plus.google.com/{{ site.author.googleplus }}" class="fa fa-googleplus icon" target="_blank">
                  <span class="hidden-desktop">Google+</span>
                </a>
              </li>
              {% endif %}
              {% if site.author.twitter %}
              <li>
                <a href="https://twitter.com/{{ site.author.twitter }}" class="fa fa-twitter icon" target="_blank">
                  <span class="hidden-desktop">Twitter</span>
                </a>
              </li>
              {% endif %}
              {% if site.author.facebook %}
              <li>
                <a href="http://www.facebook.com/{{ site.author.facebook }}" class="fa fa-facebook icon" target="_blank">
                  <span class="hidden-desktop">Facebook</span>
                </a>
              </li>
              {% endif %}
              {% if site.author.linkedin %}
              <li>
                <a href="http://www.linkedin.com/in/{{ site.author.linkedin }}" class="fa fa-linkedin icon" target="_blank">
                  <span class="hidden-desktop">LinkedIn</span>
                </a>
              </li>
              {% endif %}
              {% if site.author.feedburner %}
              <li>
                <a href="http://feeds.feedburner.com/{{ site.author.feedburner }}" class="zocial rss icon" target="_blank">
                  <span class="hidden-desktop">FeedBurner</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </nav>

  </header>
  <div class="wrapper">
        {{ content }}
  </div>

  {% if page.fb_comments or page.comments %}
  <!--div class="content sub">
      <h2 id="comments">Comments</h2>
      <div class="fb-comments" data-href="http://rsms.me{{ page.url }}" data-num-posts="{{ page.fb_comments }}" data-width="550" data-font="arial"></div>
    </div-->
  {% endif %} {% if paginator.page %}
  <div id="paginator" class="content">
    {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}/">Older entries</a> {% endif %} {% if paginator.previous_page %}
    <a href="/page{{ paginator.previous_page }}/">Newer entries</a> {% endif %}
  </div>
  {% endif %} {% unless page.no_footer %}
  <footer>
    <p>
      <a rel="license" href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html" class="cc">
        <img src="http://www.talkstandards.com/wp-content/uploads/2010/08/256px-License_icon-gpl-2.svg_.png" class="cc">
      </a>
      This work is licensed under a <a rel="license" href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html">GNU General Public License</a>
    </p>
  </footer>
  {% endunless %} {% include highlight.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ ASSET_PATH }}/lib/js/jquery.min.js"><\/script>')</script>
    <script src="{{ ASSET_PATH }}/lib/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
