h1,p,.glowing{
  margin: 0;
  overflow: auto;
  height: 100%;
  width: 100%;

  transition-duration:          .45s;
  -moz-transition-duration:     .45s;
  -webkit-transition-duration:  .45s;
  -o-transition-duration:       .45s;

}

h1,p:hover,.glowing:hover{
  text-shadow: 0 0 2px #F5D0A9;
}

.span {
  display: block;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
}

.separator {
  width: 90px;
}

.full-screen {
  display: block;
  height: 100%;
  width: 100%;
}

.header-wrapper{
  z-index: -9;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;;
  left: 0;
}

.content-wrapper{
  margin-top: 100vh;
  position: initial;
}

.greeting{
  margin-left: 0.9em;
}


.contact {

  z-index: 9;

  text-align: center;

	width: 9vw;

	height: 9vw;

  border-radius: 18%;

  margin: 0 auto;

  color: white;

  font-size: 4.5vw;

  cursor: pointer;

	position: fixed;

  right: 1.8vw;

	@include transition(transform 0.6s ease);


	&.clicked {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
	}

	&.rotate {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(3180deg);
	}

	span {
		position: relative;
		bottom: 1px;
	}

  transition-duration:          .45s;
  -moz-transition-duration:     .45s;
  -webkit-transition-duration:  .45s;
  -o-transition-duration:       .45s;
}

.contact:hover {
	background: rgba(32, 184, 88, 0.72);

}

.contact:active{
  background: rgba(0,0,0, 0.99);
}


.linkedin{
  background: rgb(0, 93, 170);;

	bottom: 63vh;
}

.facebook{
  background: rgb(44, 129, 226);

	bottom: 54vh;
}

.twitter {
  background: rgb(97, 171, 255);;

	bottom: 45vh;
}

.github {
  background: rgb(102,102,102);;

  bottom: 36vh;
}

.scrolltop {
  background-color: #111111;
  bottom: 4.5vh;
}

.fa {
  margin-top: 9px;
}

.thank{
  height:90px;
  text-align: center;
  margin:auto;
  background-color: #ADFF2F;
  padding-top: 45px;
}

#copyright{
  background-color: #000000;
}
